body {
  background-image: url("../img/Фон-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.header-site {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-site {
  position: relative;
  width: 157px;
  height: 22px;
  left: 79px;
  top: 18px;
}

.text-title-site {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-site:hover .text-title-site {
  color: #01813f;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.4;
}

.icon-and-login {
  margin-right: 79px;
}

.icon-site {
  margin-top: 18px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-first:hover path,
.icon-second:hover path,
.icon-third:hover path {
  fill: #01813f;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.4;
}

.icon-first {
  margin-right: 27px;
}

.icon-second {
  margin-right: 24px;
}

.icon-third {
  margin-right: 25px;
  display: inline-block;
}

.registration-and-login::before {
  content: " ";
  height: 19px;
  width: 1px;
  display: inline-block;
  margin-right: 27px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.link-first,
.link-second {
  text-decoration: none;
  color: #ffffff;
}

.welcome {
  color: #ffffff;
  height: 14px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.log-in:hover,
.sing-up:hover {
  color: #01813f;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.4;
}

.container {
  flex: 1 0 auto;
  margin-top: 54px;
}

.wrapper {
  margin: 0 auto;
  max-width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form-content {
  max-width: 324px;
  height: 97%;
  margin-left: auto;
  margin-right: auto;
}

.square {
  background-color: #3cb878;
  max-width: 18px;
  height: 18px;
  position: relative;
  top: 29px;
}

.sing_up-and-log_in {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: 12px;
  max-width: 401px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sing-up-second,
.log-in-second {
  text-decoration: none;
}

.sing-up-text {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  width: 69px;
  height: 14px;
  display: flex;
  align-items: center;
}

.log-in-text:hover {
  color: #01813f;
  text-decoration: underline;
}

.log-in-text {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  display: flex;
  align-items: center;
}

.btn {
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
}

.link-fb {
  margin-right: 5px;
}

.link-fb,
.link-goog {
  text-decoration: none;
}

.btn-text-first,
.btn-text-second {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-facebook,
.btn-google {
  border-radius: 5px;
}

.btn-facebook:hover {
  background-color: #022263;
  transition: 0.3s;
}

.btn-google:hover {
  background-color: #ab1f09;
  transition: 0.3s;
}

.btn-text-first::before,
.btn-text-second::before {
  content: " ";
  width: 1px;
  height: 28px;
  display: inline-block;
  margin-right: 18px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.svg-facebook {
  position: absolute;
  left: 17px;
  top: 12px;
}

.svg-google {
  display: block;
  position: absolute;
  top: 15px;
  right: 118px;
}

.btn-facebook {
  background-color: #305db8;
  width: 160px;
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.btn-google {
  background-color: #df4a32;
  width: 160px;
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.line {
  position: relative;
  top: 34px;
  display: flex;
  align-items: center;
}

.line-first {
  position: absolute;
  width: 152px;
  height: 0px;
  left: -3px;
  top: 31px;
  border: 1px solid #f2f2f2;
}

.line-text {
  position: absolute;
  width: 15px;
  height: 14px;
  left: 154px;
  top: 31px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #848484;
}

.line-second {
  position: absolute;
  width: 152px;
  height: 0px;
  left: 171px;
  top: 31px;
  border: 1px solid #f2f2f2;
}

.form-name {
  position: relative;
  top: 90px;
}

.text-name,
.last-name-text,
.text-email,
.text-password,
.password-confirm-text {
  width: 299px;
  height: 44.08px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;
  outline: none;
}

.text-name:focus,
.last-name-text:focus,
.text-email:focus,
.text-password:focus,
.password-confirm-text:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.last-name {
  position: relative;
  top: 105px;
}

.email {
  position: relative;
  top: 120px;
}

.password {
  position: relative;
  top: 135px;
}

.password-confirm {
  position: relative;
  top: 150px;
}

.checkbox-form {
  position: relative;
  top: 162px;
  display: flex;
  align-items: center;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.checkbox-label::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background: rgba(0, 0, 0, 0.0001);
  position: relative;
  top: 5px;
}

.checkbox-label::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/Vector\ 1\ \(1\).png");
  background-size: 20px 20px;
  position: relative;
  opacity: 0;
}

.checkbox-input:checked + .checkbox-label::before {
  opacity: 1;
}

.with-our,
.conditions {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.with-our {
  color: #434343;
  padding-left: 10px;
}

.conditions {
  color: #01813F;
}

.conditions:hover {
  color: #046131;
  text-decoration: underline;
}

.account {
  position: relative;
  top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-account {
  text-decoration: none;
}

.btn-account {
  width: 324px;
  height: 46px;
  border: none;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
}

.btn-account:hover {
  background: #01813f;
  border-radius: 4px;
}

.account-text {
  color: #ffffff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
